
h1, h2, h3, p, {
  margin: 0px;
  padding: 0px; 
}

:root {
  --main-blue-color: #2196f3;
  --main-black-color: #212121;
  --secondary-text-color: #757575;
  --main-font-color: #ffffff;
  --secondary-font-color: #f5f4fa;
}
body {
  font-family: 'Roboto' 'Raleway' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  
}
/* header */
/* logo */
.conteiner {
  display: flex;
  border: 1px solid tomato;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  
}
.main-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--main-blue-color);
  margin-right: 93px;
}
.logo-studio {
  color: #000000;
}
/* header-nav */
.nav-box .item {
  display: flex;

  background-color:  tomato; 
}

.nav-box .item +.item {
  margin-left: 50px;
}

.links {
  font-family: 'Roboto';
  display:flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style-type: none;
 
}

.link-studio,
.link-portfolio,
.link-contacts {
  text-decoration: none;
  color: var(--main-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.link-studio:hover,
.link-portfolio:hover,
.link-contacts:hover {
  color: var(--main-blue-color);
 
}
.link-studio {
}

.link-studio:focus,
.link-portfolio:focus,
.link-contacts:focus {
  color: var(--main-blue-color);
}
/* contacts */
.contacts {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style-type: none;
  background-color: #111;
  margin-left: auto;

   
}

.contacts .item +.item {
  margin-left: 50px;
}

.contacts-mail,
.contacts-tel {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contacts-mail:hover,
.contacts-tel:hover {
  color: var(--main-blue-color);
}
.contacts-mail:focus,
.contacts-tel:focus {
  color: var(--main-blue-color);
}
/* hero */
.hero {
  background-color: #2F303A;
  height: 600px;
  text-align: center;
  border: 1px solid transparent;

}
.hero-slogan {
  box-sizing: border-box;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-top: 200px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: 4auto;
}

.button {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
.pointer {
  cursor: pointer;
}

.button:hover {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
 
}

.button:focus {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
}

/* <!-- our advantages --> */
.conteiner-ad {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  

}
.advantages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 94px;
}
.advantages > .item {
  width: 270px;
  padding: 0px;
  
}
.advantages > .item + .item {
  margin-left: 30px; 
}
/* our works */
.conteiner-work {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.our-works {
  list-style-type: none;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-black-color);
}

.team-members {
  list-style-type: none;
}
.members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.possition {
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* footer */
.backgrounf-color {
  background-color: #2f303a;
}
.adress-info {
  list-style-type: none;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  text-decoration: none;
}
.adress:hover,
.adress:focus {
  color: var(--main-blue-color);
}
.contacts-mail-footer,
.contacts-tel-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contacts-mail-footer:hover,
.contacts-tel-footer:hover {
  color: var(--main-blue-color);
}
.contacts-mail-footer:focus,
.contacts-tel-footer:focus {
  color: var(--main-blue-color);
}
/* buttons */
.main-nav-filter {
  list-style-type: none;
  color: var(--main-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  color: var(--main-black-color);
  background-color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button:hover {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
}
.button:focus {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
}

/* Our web-sides */
.our-web {
  list-style-type: none;
}
.header-portofolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--main-black-color);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
