
h1, h2, h3, p {
  margin: 0px;
  padding: 0px; 
}

:root {
  --main-blue-color: #2196f3;
  --main-black-color: #212121;
  --secondary-text-color: #757575;
  --main-font-color: #ffffff;
  --secondary-font-color: #f5f4fa;
}
body {
  font-family: 'Roboto' 'Raleway' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  
}
/* header */
/* logo */
.container {
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto; 
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--main-blue-color);
  margin-right: 93px;
 
}
.logo-studio {
  color: #000000;
}
/* header-nav */
.links .item +.item {
  margin-left: 50px;
}

.links {
  font-family: 'Roboto';
  display:flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style-type: none;
  padding-left: 0;
}

.link-studio,
.link-portfolio,
.link-contacts {
  text-decoration: none;
  color: var(--main-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.link-studio:hover,
.link-portfolio:hover,
.link-contacts:hover {
  color: var(--main-blue-color);
}

.link-studio:focus,
.link-portfolio:focus,
.link-contacts:focus {
  color: var(--main-blue-color);
}
/* contacts */
.contacts {
  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style-type: none;  
}

.contacts .item +.item {
  margin-left: 50px;
}

.contacts-mail,
.contacts-tel {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contacts-mail:hover,
.contacts-tel:hover {
  color: var(--main-blue-color);
}
.contacts-mail:focus,
.contacts-tel:focus {
  color: var(--main-blue-color);
}
/* hero */
.hero {
  background-color: #2F303A;
  height: 600px;
  text-align: center;
  border: 1px solid transparent;

}
.hero-slogan {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-top: 200px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.button:hover {
  color: var(--main-blue-color);
  background-color: var(--main-font-color);
}

.button:focus {
  color: var(--main-blue-color);
  background-color: var(--main-font-color);
}

/* <!-- our advantages --> */
.container-ad {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  

}
.advantages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 94px;
  margin-bottom: 94px;
}
.advantages > .item {
  width: 270px;
  padding: 0px;
  
}
.advantages > .item + .item {
  margin-left: 30px; 
}

.headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

 .text {
  padding-bottom: 93px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

/* /* our works */

.container-work {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 81px;
}  

 .header-work {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 50px;
text-align: center;
}

.our-works  {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.our-works .works-item + .works-item {
  margin-left: 30px;
}
/* our team */
.bgc {
  background-color: #F5F4FA;
}
.team-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;  
}

.team {
  width: 1170px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.team-members {
  width: 1170px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.team-members .team-item + .team-item {
  margin-left: 30px;
} 

.team-item {
  height: 360px;
  background-color: var(--main-font-color); 
  margin-bottom: 94px; 
}

.members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  text-align: center;
}
.possition {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
}
/* footer */
.footer-container {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  box-sizing: border-box;
  border: 1px solid transparent;
  
}
.logo-studio-footer {
color: var(--main-font-color);
}

.logo-web {
display: inline-block;
margin-top: 60px;
margin-left: 215px;
margin-right:auto;
margin-bottom: 20px;
}
.advantages-footer {
  list-style-type: none;
  margin-left: 215px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.adress-info {
  list-style-type: none;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  text-decoration: none;
}
.adress:hover,
.adress:focus {
  color: var(--main-blue-color);
}
.contacts-mail-footer,
.contacts-tel-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contacts-mail-footer:hover,
.contacts-tel-footer:hover {
  color: var(--main-blue-color);
}
.contacts-mail-footer:focus,
.contacts-tel-footer:focus {
  color: var(--main-blue-color);
}
/* buttons */
.main-nav-filter {
  list-style-type: none;
  color: var(--main-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-nav-filter .button {
  color: var(--main-black-color);
  background-color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.main-nav-filter .button:hover {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
}
.main-nav-filter .button:focus {
  color: var(--main-font-color);
  background-color: var(--main-blue-color);
}

/* Our web-sides */
.our-web {
  list-style-type: none;
}
.header-portofolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--main-black-color);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
